h1{color: white;}
h1 {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 600;
font-size: 60}

h2{color: blue;}
p {font-family: courier;
font-weight: 600;
font-size: 20; color: azure; text-align: center}
a {text-decoration: none}
a {color: white;}

    
body {background-color: cornflowerblue;}

body 



